/* Card Styling */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .form-card {
    background: white;
    width: 95%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .form-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Form Styling */
  .form-group {
    text-align: right;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
  }
  
  .form-input {
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .required {
    color: red;
    margin-left: 5px;
  }
  
  .error-text {
    color: red;
    font-size: 12px;
  }
  
  /* Menu Bar */
  .menu-bar {
    border-top: solid rgb(194, 194, 194) 1px;
    border-bottom: solid rgb(194, 194, 194) 1px;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    padding: 10px;
    flex-wrap: wrap;
  }
  
  .menu-button {
    padding: 10px 15px;
    border: none; 
    color: black;
    cursor: pointer;
    border-radius: 2px;
  }
  
  .menu-button.active {
    color: blueviolet;
    box-shadow: 0px 5px 0px blueviolet; 
}
  
  .submit-button {
    padding: 10px;
    color: blueviolet;
    border: solid 1px; 
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search-dropdown {
    position: relative;
  }
  
  .dropdown-list {
    position: absolute;
    top: 100%; /* Positions directly below the input field */
    left: 0;
    width: 50%; /* Matches the width of the input */
    max-height: 150px;
    overflow-y: auto;
    background: white;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-item {
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background: #f0f0f0;
  }
  
  .return-table-container{
    display: flex;
    flex-direction: column;
    align-items: center;

  }